<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
  <section class="top-bar-section">
    <ul class="menu">
      <li class="menu-text"><a href="/">Restaurants</a></li>
      <li><%= link_to 'manage restaurants', '/admin' %></li>
      <li><%= link_to 'new restaurant', '/restaurants/new' %></li>
    </ul>
    </section>
  </nav>
    <div class="row">
      <div class="large-12 columns">
        <%= yield %>
      </div>
    </div>

  </body>
</html>
